@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="hero-section">
        <h1>Product Store &<br>Asccessory Shop</h1>
        <p>
            Find top-quality items that combine style and function perfectly. Explore our collection and enjoy exceptional value today!
        </p>
        <a href="https://sachinprajapati.lovable.app/" class="btn btn-outline-primary" role="button">JOIN US</a>
        <h1 class="display-4">Welcome</h1>
        <p>Explore the Best Deals and Products at Our Shop Today!</p>
</div>
